#board TD {width: 15pt; height: 15pt; font-size: 2pt; }
#board TD.start {font-size: 8pt; border-left: 2px black solid; background:yellow; border-top: 2px black solid;text-align: center; color: red}
#board TD.end {font-size: 8pt; text-align: center; color: green}
#message {margin: 0pt; padding: 0pt; text-align: center}

@font-face { 
    font-family: 'BBTreeGR'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    font-family: 'BBTreeGR', serif;
    font-weight: 300;
    color: #FAFAFA; 
  }
  body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
    background: url("../img/wave.png") no-repeat center center fixed;
    background-size: cover;
  }

table {
    background-color: white;
}

body {
    font-family: 'BBTreeGR', serif;
    font-weight: 300;
    color: #FAFAFA; 
  }
  body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
    background: url("../img/farm.png") no-repeat center center fixed;
    background-size: cover;
  }

#test_btn1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:-4px;
}
#test_btn2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-left:-3px;
}
#btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#btn_group button:hover{
    color:white;
    background-color: skyblue;
}